<h3>Select a single city</h3>
<div class="example-block">
  <div class="example-block__item">
    <!--[formControl]="ngxControl"-->
    <ngx-select
      id="{{myId}}"
      [class]="'form-control'"
      [searchCallback]="searchCallback"
      [allowClear]="true"
      [defaultValue]="doNgxDefault()"
      [items]="items"
      placeholder="No city selected"
      (typed)="inputTyped('ngx-select', $event)"
      (focus)="doFocus()"
      (blur)="doBlur()"
      (open)="doOpen()"
      (close)="select2.focus()"
      (select)="doSelect($event)"
      (remove)="doRemove($event)"
      (selectionChanges)="doSelectOptions($event)">
    </ngx-select>
    <p></p>
    <!--<div class="alert alert-secondary">-->
    <!--<pre>{{ngxControl.value | json}}</pre>-->
    <!--</div>-->
    <div *ngIf="isDeleted">
      <div type="danger">
        La operadora es obligatoria
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
